<ion-view view-title="Lägg till Recept">
  <ion-content>
    <div class="list list-inset" ng-controller="addController">
      <label class="item item-input item-stacked-label myBorder">
        <span class="input-label">Receptnamn</span>
        <input type="text" ng-model="recName">
      </label>
      <label class="item item-input item-stacked-label myBorder">
        <span class="input-label">Ingredienser</span>
        <textarea rows="10" cols="10" ng-model="recIngredients"></textarea>
      </label>
      <label class="item item-input item-stacked-label myBorder">
        <span class="input-label">Tillagning</span>
        <textarea rows="10" cols="10" ng-model="recDirections"></textarea>
      </label>
        <div class="item button button-block button-positive" ng-model="addButton" ng-disabled="!recName||!recIngredients||!recDirections" ng-click="submitRecipe()">Lägg till Recept
        </div>
    </div>    
  </ion-content>
</ion-view>