<ion-view view-title="Receptbank">
  <ion-content class="myContent" >
    <div class="row">
      <div class="col"><img src="img/TableOfFood.jpg" class="full-image"></div>
    </div>
    <div class="row">
      <div class="col"><a ui-sref="recList"><p class>Se Recept</p></a></div>
    </div>
      <div class="col"><a ui-sref="edit"><p class>Ändra Recept</p></a></div>
    </div>
      <div class="col"><a ui-sref="add"><p class>Lägg till Recept</p></a></div>
    </div>
      <div class="col"><a ui-sref="delete"><p class>Ta bort Recept</p></a></div>
    </div>
  </ion-content>
</ion-view>